# If we were to have a tapsd, this would help install it in systemd
[Unit]
Description=Transport Services API

[Service]
Type=simple
ExecStart=/usr/bin/tapsd

[Install]
WantedBy=multi-user.target
